<h1>admin login</h1>

<form action="/admin/login" method="post">
    <label for="">Admin ID</label><br>
    <input type="text" name="admin_id" id="admin_id" placeholder="admin-10001"><br><br>
    <label for="">Admin Username</label><br>
    <input type="text" name="username" id="username" placeholder="admin"><br><br>
    <label for="">Admin Password</label><br>
    <input type="text" name="userpassword" id="userpassword" placeholder="admin"><br><br>
    <input type="submit" value="submit">
</form>