<h1>admin create subject</h1>
<a href="/admin/dashboard">Dashboard</a>
<form action="/admin/create-subject" method="post">
    <label for="subjectid">Subject ID:</label><br><br>
    <input type="text" id="subjectid" name="subjectid" required placeholder="SubjectID must be unique"><br><br>
    <label for="">Subject Name</label><br><br>
    <input type="text" name="subjectname" id="subjectname" required placeholder="Science for example"><br><br>

    <label for="">Section</label><br><br>
    <select name="sectionname" id="sectionname" required>
        <% data.sections.forEach((section) => { %>
            <option value="<%= section.sectionname %>"><%= section.sectionname %></option>
        <% }); %>
    </select><br><br>

    <label for="">Teacher</label><br><br>
    <select name="teacherid" id="teacherid">
        <% data.teachers.forEach((teacher) => { %>
            <option value="<%= teacher.teacherid %>">
                <%= teacher.firstname + ' ' + teacher.middlename + ' ' + teacher.lastname %>
            </option>
        <% }); %>
    </select> <br><br>
    <label for="">Visibility</label><br><br>
    <select name="visibility" id="visibility">
        <option value="" disabled selected>Choose an option</option>
        <option value="Visible">Visible</option>
        <option value="Invisible">Invisible</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
