<!DOCTYPE html>
<html lang="en">

<head>
    <title>E-Learn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="login-page bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="bg-white shadow rounded">
                        <div class="row">
                            <div class="col-md-7 pe-0">
                                <h3 class="text-center my-4">Student Login</h3>
                                <% if (typeof errorMessagemax !=='undefined' ) { %>
                                    <div class="alert alert-danger alert-top-right" role="alert">
                                        <%= errorMessagemax %>
                                    </div>
                                <% } %>
                                <% if (typeof errorMessage !=='undefined' ) { %>
                                    <div class="alert alert-danger alert-top-right" role="alert">
                                        <%= errorMessage %>
                                    </div>
                                <% } %>                                 
                                <div class="form-left h-100 py-5 px-5">
                                    <form action="/" method="post" class="row g-4">
                                        <div class="col-12">
                                            <label>Student ID<span class="text-danger">*</span></label>
                                            
                                            <% if (typeof errorMessagemax !=='undefined' ) { %>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-person-badge"></i></div>
                                                    <input type="text" name="studentID" id="studentID" class="form-control"
                                                        placeholder="Enter Student ID" readonly>
                                                </div>
                                            <% } else { %>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-person-badge"></i></div>
                                                    <input type="text" name="studentID" id="studentID" class="form-control"
                                                        placeholder="Enter Student ID">
                                                </div>

                                            <% }
                                            %>  

                                        </div>

                                        <div class="col-12">
                                        <% if (typeof errorMessagemax !=='undefined' ) { %>
                                            
                                                <label>Username<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                    <input type="text" name="studentUserName" id="studentUserName"
                                                        class="form-control" placeholder="Enter Username" readonly>
                                                </div>
                                            

                                            <% } else { %>
                                                
                                                    <label>Username<span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                        <input type="text" name="studentUserName" id="studentUserName"
                                                            class="form-control" placeholder="Enter Username" required>
                                                    </div>
                                                
                                            <% }
                                            %> 
                                        </div>


                                        <div class="col-12">
                                            <% if (typeof errorMessagemax !=='undefined' ) { %>
                                                <label>Password<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                    <input type="password" name="studentPassword" id="studentPassword"
                                                        class="form-control" placeholder="Enter Password" readonly>
                                                </div>
                                                <% } else { %>
                                                    <label>Password<span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                        <input type="password" name="studentPassword" id="studentPassword"
                                                            class="form-control" placeholder="Enter Password" required>
                                                    </div>
                                            <% }
                                            %> 
                                            
                                        </div>

                                        <div class="col-12">
                                            <button type="submit"
                                                class="btn btn-custom-color px-4 float-end mt-4">Login</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="form_right col-md-5 ps-0 d-none d-md-block">
                                <div class="form-right h-100 text-white text-center pt-5">
                                    <i class="bi bi-book"></i>
                                    <h2 class="fs-1">E-Learn</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->

</body>

<script src="/javascript/script.js"></script>

</html>