<h1>Teacher Login</h1>

<form action="/teacher/login" method="post">
    <label for="">Teacherid : 2020-069</label><br>
    <input type="text" name="teacherid" id="teacherid" placeholder="2020-069"><br><br>

    <label for="">Teacher User-ID havb-069</label><br>
    <input type="text" name="userlogin" id="userlogin" placeholder="havb-069"><br><br>

    <label for="">Password havb-069</label><br>
    <input type="text" name="userpassword" id="userpassword" placeholder="havb-069"><br><br>

    <input type="submit" value="submit">
</form>

