.login-page {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.bg-white {
  transition: box-shadow 0.3s ease-in-out;
}

.bg-white:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h3 {
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.form-left label {
  font-weight: 500;
  margin-bottom: 10px;
}

.input-group-text {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
}

.form-control {
  border: 1px solid #e0e0e0;
  transition: border 0.2s ease-in-out;
}

.form-control:focus {
  border: 1px solid rgb(83, 84, 85);
  box-shadow: 0 0 0 0.125rem rgba(0, 123, 255, 0.25);
}


.btn-custom-color {
  color: #fff;
  background-color: #605c5c;
  border-color: #605c5c;
}

.btn-custom-color:hover,
.btn-custom-color:focus,
.btn-custom-color:active {
  background-color: #504b4b; /* Darker shade for hover/focus/active states */
  border-color: #504b4b;
}


.bi-book {
  font-size: 3rem; 
}
.form-right{
  background-color: #605c5c;
}

.form-right h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.alert-top-right {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    0% {
        top: -50px;
    }
    100% {
        top: 10px;
    }
}
